# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TestTaskHighCoreGames.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\My\UnityProject\TestTaskHighCoreGames\.idea\.idea.TestTaskHighCoreGames\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
